# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_python2.7
    - CONFIG=osx_python3.6

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "AavB4c6zbnr9NLZR/J8ULWA0n3eoRIQzINjkVUz8NQIBkpV4wf3t60PnwHXiOOSBLUUVWG8sWdARWHfyu5J/2Vm+mQN050X6KVMCctkAVYz5TcNc9vAFVfESyefMHOYWDE1z6BPiUue3TDnMA6GTb5sLMMbWYJPdoHkrJdwyQCcuMmyo45IPn1Pww7Ftz7D/gfxdiJ1Wz9H6sW0Ce4Smu+vB31EHYucA2chw32sPOujoO0v0WkRwHAxEJcAfxVvoMrKdk5uuzJ0iGfj5d1pVpyB/zwCC+KvZPRq36AIbueYiGg7/in6cAHvCZAPoh5Y60s7d03Zj8s+lcs4XEbzIvyL7jvqTpmKAmM5jWD6tyZaKKaa6P7OXdyhncUZUYXzjNCt/cfGqeOADSpx3yaio4v3/3nXLFeJslxh0U19IUvWsX2funWDOwX4evjRM8jAuBxfGz6SgX79tuaE5pMEHMg2BLdbdPkacPk+M+CCK92WTEimJ1BJDpoXetr9CTR8OD/XsG+aSmbnhNv+w0RpD+IqWThXpkhYPQ1EGJMuCD/2nf859r9gNWQjHcUiKG38CG0gxN03eLHs40CrM2TKJ7dCQg438rKBFtQ4XrvmWbV2ODI3jwPKYAMgIbEOTnDGba5QzMNtHCCaYUHXbP8xdHIPBxfbtV4TFRHZ2WdpYQ5U="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
